html{
    background-color: rgba(8, 8, 8, 0.993);
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    
}
#container{
    background-color: rgba(22, 18, 18, 0.815);
    padding: 1em;
    border: solid 1px rgb(73, 65, 49);
    margin: 2em 1em;

    display: flex;
    position: relative;

    align-items: center;
}

#pages-wrapper {
    border: solid 1px rgb(73, 65, 49);
    display: flex;
    width: 100%;
    margin: 0 auto;
    
    overflow-x: hidden;
}

.pages {
    /* min-height: 200px; */
    height: max-content;
    min-width: 200px;
    margin: 5px 0px 5px 5px;

    border: solid 1px rgb(73, 65, 49);
}

/* #page0{
    height: 400px;
} */

.arrows{
    height: 2em;
    width: 2em;
    background-color: transparent;
    position: absolute;

    display: flex;
    align-items: center;
}
.arrows img {
    width: 100%;
}
.arrowLeft{
    left: 0;
}
.arrowRight{
    
    right: 0;
}

.images{
    width: 100%;
    margin: 0;
    /* border: solid 1px white; */
    display: block;

}

.anim1 {
    animation: expandwidth 2s forwards;
}

@keyframes expandwidth {
    from{
        min-width: 0px;
    }
    to{
        width: 100%;
    }
}